<%= form_for(@room) do |f| %>
	<p>
		<%= f.label :building %><br />
		<%= f.text_field :building %>
	</p>
	<p>
		<%= f.label :room_number %><br />
		<%= f.text_field :room_num %>
	</p>
	<p>
		<%= f.label :capacity %><br />
		<%= f.text_field :room_capacity %>
	</p>
	<p>
		<%= f.label :desk_type %><br />
		<%= f.text_field :desk_type %>
	</p>
	<p>
		<%= f.label :board_type %><br />
		<%= f.text_field :board_type %>
	</p>
	<p>
		<%= f.label :chair_type %><br />
		<%= f.text_field :chair_type %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
