<%= field_set_tag "Identification" do %>


<div class="clear"> <%= render 'sections/pieces/identities/text_box', elkey: :class_nbr, phkey: :number %> </div>
<div class="clear"> <%= render 'sections/pieces/identities/course' %> </div>
<div class="clear"> <%= render 'sections/pieces/identities/text_box', elkey: :section, phkey: :number %> </div>
<div class="clear"> <%= render 'sections/pieces/identities/text_box', elkey: :sec_descr, phkey: :descr %> </div>
<div class="clear"> <%= render 'sections/pieces/identities/text_box', elkey: :session, phkey: :number %> </div>
<div class="clear"> <%= render 'sections/pieces/identities/text_box', elkey: :component, phkey: :comp %> </div>
<div class="clear"> <%= render 'sections/pieces/identities/text_box', elkey: :acad_group, phkey: :data %> </div>
<div class="clear"> <%= render 'sections/pieces/identities/text_box', elkey: :role, phkey: :data %> </div>
<div class="clear"> <%= render 'sections/pieces/identities/text_box', elkey: :crs_atr, phkey: :data %> </div>
<div class="clear"> <%= render 'sections/pieces/identities/text_box', elkey: :location, phkey: :data %> </div>
<div class="clear"> <%= render 'sections/pieces/identities/date' %> </div>
<div class="clear"> <%= render 'sections/pieces/identities/text_box', elkey: :mode, phkey: :data %> </div>
<% end %>